{include file='pub/header'/}
<title>推广佣金记录</title>
<style>
    body {
        background-color: #F7F7F7;
    }

    .dingbu {
        line-height: 45px;
        font-size: 18px;
        font-weight: bold;
        background-color: #ffffff;
    }

    .custom-nav {
        border-radius: 10px;
        display: flex;
        background-color: #FFFFFF;
    }

    .custom-nav div {
        line-height: 2rem;
        height: 2rem;
        font-size: 1rem;
    }

    .select-current {
        color: #2779f2;
    }

    tr:nth-child(odd){
        background-color: #EAEAEA;
    }
    tr:nth-child(even){
        background-color: #DDDDDD;
    }
    tr td{
        color: #939292;
    }
</style>
</head>
<body>

<div class="dingbu col-12 text-c row cl">
    <div class="l" style="width: 40px;" onclick="history.back()">
        <i class="Hui-iconfont Hui-iconfont-arrow2-left"></i>
    </div>
    <div>
        推广佣金记录
    </div>
</div>

<div class="mt-10 ml-20 mr-20 text-c custom-nav radius">
    <div class="col-6 select-current" style="border-right: 1px solid #E3E3E3;">
        全部客户
    </div>
    <div class="col-6">
        未结算
    </div>
</div>
<div class="mt-10 ml-20 mr-20">
    <table class="table table-hover table-border">
        <thead>
        <tr class="text-c">
            <th>客户信息</th>
            <th>审核情况</th>
            <th>佣金结算</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-c">
            <td>王先生15554832010</td>
            <td>审核通过</td>
            <td>已结算</td>
        </tr>
        <tr class="text-c">
            <td>王先生15554832010</td>
            <td>审核通过</td>
            <td>已结算</td>
        </tr>
        <tr class="text-c">
            <td>王先生15554832010</td>
            <td>审核通过</td>
            <td>已结算</td>
        </tr>
        <tr class="text-c">
            <td>王先生15554832010</td>
            <td>审核通过</td>
            <td>已结算</td>
        </tr>
        <tr class="text-c">
            <td>王先生15554832010</td>
            <td>审核通过</td>
            <td>已结算</td>
        </tr>
        <tr class="text-c">
            <td>王先生15554832010</td>
            <td>审核通过</td>
            <td>已结算</td>
        </tr>


        </tbody>


    </table>


</div>

{include file="pub/footer"/}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
</script>
</body>
</html>