{include file='pub/header'/}
<title>基础统计</title>
</head>
<body>
<nav class="breadcrumb">{$breadNav} <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                                       href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="" method="get">
        <div class="text-c"> 日期：
            <input type="text" value="{$param.mintime || default=''}" onfocus="WdatePicker({maxDate:'#F{ $dp.$D(\'datemax\')}'})" id="datemin" name="mintime"
                   class="input-text Wdate" style="width:120px;">
            -
            <input type="text" value="{$param.maxtime || default=''}" onfocus="WdatePicker({minDate:'#F{ $dp.$D(\'datemin\')}'})" id="datemax" name="maxtime"
                   class="input-text Wdate" style="width:120px;">
            <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 查询
            </button>
        </div>
    </form>
    <table class="table table-border table-bordered table-bg table-sort">
        <thead>
        <tr>
            <th scope="col" colspan="9">基础统计</th>
        </tr>
        <tr class="text-c">
            <th>日期</th>
            <th>新增会员数量</th>
            <th>安卓启动次数</th>
            <th>苹果启动次数</th>
            <th>小程序启动次数</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $v}
        <tr class="text-c">
            <td>{$v.date}</td>
            <td>{$v.user_num}</td>
            <td>{$v.android}</td>
            <td>{$v.ios}</td>
            <td>{$v.wapp}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>
{include file="pub/footer"/}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $('.table-sort').dataTable({
        "aaSorting": [[0, "desc"]],//默认第几个排序
        "bStateSave": true,//状态保存
    });
</script>
</body>
</html>