{include file='pub/header'/}
<title>基础统计</title>
</head>
<body>
<nav class="breadcrumb">{$breadNav} <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                                       href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="" method="get">
        <div class="text-c">
            <label for="" style="display: inline-block;">
                日期：
                <input type="text" value="{$param.start_time||default=''}" class="input-text Wdate" onfocus="WdatePicker()" name="start_time" style="width: 120px;" autocomplete="off">-
                <input type="text" value="{$param.end_time||default=''}" class="input-text Wdate" onfocus="WdatePicker()" name="end_time" style="width: 120px;" autocomplete="off">
            </label>
            <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 查询</button>
            <button type="button" class="btn btn-success export-btn"><i class="Hui-iconfont Hui-iconfont-down"></i> 下载
            </button>
        </div>
    </form>
    <table class="table table-border table-bordered table-bg table-sort">
        <thead>
        <tr>
            <th scope="col" colspan="9">分类统计</th>
        </tr>
        <tr class="text-c">
            <th>用户ID</th>
            <th>日期</th>
            <th>分类名称</th>
            <th>用户名</th>
            <th>手机号</th>
            <th>点击次数</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $v}
        <tr class="text-c">
            <td>{$v.user_id}</td>
            <td>{$v.days}</td>
            <td>{$v.name}</td>
            <td>{$v.user_name}</td>
            <td>{$v.telephone}</td>
            <td>{$v.nums}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {$list->render()}
</div>
{include file="pub/footer"/}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    // $('.table-sort').dataTable({
    //     "aaSorting": [[0, "desc"]],//默认第几个排序
    // });
    $(function () {
        $(".export-btn").click(function () {
            var data = $("form").serialize();
            var myWin = window.open("{:url('cateDown')}?"+data);
            myWin.onload = function () {
                myWin.close();
            }
        });
    })
</script>
</body>
</html>