{include file='pub/header'/}
<title>基础统计</title>
</head>
<body>
<nav class="breadcrumb">{$breadNav} <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                                       href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="" method="get">
        <div class="text-c">
            日期：
            <input type="text" value="{$param.start_time || default=''}" onfocus="WdatePicker({maxDate:'#F{ $dp.$D(\'datemax\')}'})" id="datemin" name="start_time" autocomplete="off"
                   class="input-text Wdate" style="width:120px;">
            -
            <input type="text" value="{$param.end_time || default=''}" onfocus="WdatePicker({minDate:'#F{ $dp.$D(\'datemin\')}'})" id="datemax" name="end_time" autocomplete="off"
                   class="input-text Wdate" style="width:120px;">
            <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 查询
            </button>
            <button type="button" class="btn btn-success export-btn"><i class="Hui-iconfont Hui-iconfont-down"></i> 下载
            </button>
        </div>
    </form>
    <table class="table table-border table-bordered table-bg table-sort">
        <thead>
        <tr>
            <th scope="col" colspan="9">供求触发统计</th>
        </tr>
        <tr class="text-c">
            <th width="50">用户ID</th>
            <th width="50">时间</th>
            <th width="50">类型</th>
            <th width="50">用户名</th>
            <th width="50">手机号</th>
            <th width="50">供求id</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $v}
        <tr class="text-c">
            <td>{$v.user_id}</td>
            <td>{$v.create_time}</td>
            <td>{if $v.type eq 1}求购{else/}供应{/if}</td>
            <td>{$v.user_name}</td>
            <td>{$v.telephone}</td>
            <td>{if $v.supply_id neq ''}<a href="javascript:;" onclick="open_detail('{$v.supply_id}')">{$v.supply_id}</a>{/if}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {$list->render()}
</div>
{include file="pub/footer"/}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    // $('.table-sort').dataTable({
    //     "aaSorting": [[0, "desc"]],//默认第几个排序
    // });
    function open_detail(order_id) {
        layer_show("供求详情", "{:url('Statistic/supplyDetail')}?supply_id="+order_id);
    }
    $(function () {
        $(".export-btn").click(function () {
            var data = $("form").serialize();
            var myWin = window.open("{:url('supplyDown')}?"+data);
            myWin.onload = function () {
                myWin.close();
            }
        });
    })
</script>
</body>
</html>