{include file='pub/header'/}
<title>账户变动日志</title>
</head>
<body>
<nav class="breadcrumb">{$breadNav} <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                                       href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="" method="get">
        <div class="text-c">
            <input type="text" class="input-text" style="width:250px" placeholder="输入会员/手机号名称" name="uname">
            <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜会员
            </button>
        </div>
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
		</span>
    </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="9">变动日志</th>
        </tr>
        <tr class="text-c">
            <th>会员名</th>
            <th>手机号</th>
            <th>操作时间</th>
            <th>操作账户</th>
            <th>操作内容</th>
            <th>变动数量</th>
        </thead>
        <tbody>
        {foreach $list as $v}
        <tr class="text-c">
            <td>{$v.username}</td>
            <td>{$v.phone}</td>
            <td>{$v.create_time}</td>
            <td>{$v.type}</td>
            <td>{$v.desc}</td>
            <td>{$v.money}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>
{include file="pub/footer"/}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $(function () {
        $("table").dataTable();
    })
</script>
</body>
</html>