{include file='pub/header'/}
<title>会员列表</title>
</head>
<body>
<nav class="breadcrumb">{$breadNav} <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                                       href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="" method="get">
        <div class="text-c">
            注册日期：
            <input type="text" value="{$param.mintime||default=''}" autocomplete="off" onfocus="WdatePicker({maxDate:'#F{ $dp.$D(\'datemax\')}'})" id="datemin" name="mintime"
                   class="input-text Wdate" style="width:120px;">
            -
            <input type="text" value="{$param.maxtime||default=''}" autocomplete="off" onfocus="WdatePicker({minDate:'#F{ $dp.$D(\'datemin\')}'})" id="datemax" name="maxtime"
                   class="input-text Wdate" style="width:120px;">
            <input type="text" value="{$param.uname||default=''}" class="input-text" autocomplete="off" style="width:250px" placeholder="输入会员/手机号名称" name="uname">
            归属客服：
            <input type="text" value="{$param.agent_name||default=''}" class="input-text" style="width:250px" placeholder="输入客服名称" name="agent_name">
            <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜会员
            </button>
        </div>
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
            <a class="btn btn-primary radius" href="javascript:;" onclick="addMember()"><i class="Hui-iconfont Hui-iconfont-add"></i>添加会员</a>
		</span>
    </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="9">会员列表</th>
        </tr>
        <tr class="text-c">
            <th>ID</th>
            <th>会员名</th>
            <th>手机号</th>
            <th>注册时间</th>
            <th>邀请码</th>
            <th>销售</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $v}
        <tr class="text-c">
            <td>{$v.id}</td>
            <td>{$v.user_name}</td>
            <td>{$v.telephone}</td>
            <td>{$v.create_time}</td>
            <td>{$v.vip_code}</td>
            <td>{$v.sale_name}</td>
            <td>
                <a class="btn btn-primary radius" href="javascript:;" onclick="deliver('{$v.id}', '{$v.vip_code}')">分配销售</a>
                <a href="javascript:;" class="btn btn-primary radius" onclick="userDetail('{$v.id}')"><i class="Hui-iconfont Hui-iconfont-list"></i>查看详情</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {$list->render()}
</div>
{include file="pub/footer"/}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    //添加客户
    function addMember() {
        layer_show('添加客户', '{:url("addMember")}');
    }
    function userDetail(id){
        layer_show('客户详情', '{:url("userDetail")}?id='+id);
    }

    function deliver(id, code){
        if(code != ''){
            layer.confirm('当前客户已有销售客服，是否重新分配？', function () {
                deli(id);
            });
        }else{
            deli(id);
        }
    }

    function deli(id){
        layer_show('用户名单', '{:url("deliver")}?id='+id);
    }

    // $(function () {
    //     $("table").dataTable({
	// 	"ordering":false
	// });
    // })
    //下载会员信息
    function downloadMember() {
        layer_show('下载订单', "{:url('Member/downloadMember')}", '350', '300');
    }
    function member_stop(obj, id) {
        layer.confirm('确认要停用吗？', function (index) {

            $.post("{:url('Member/changeStatus')}", {id:id, enable:1}, function (res) {
                if(res.code == 1){
                    $(obj).parents("tr").find(".td-manage").prepend('<a onClick="member_start(this,id)" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i>启用</a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已禁用</span>');
                    $(obj).remove();
                }
                layer.msg(res.msg, {icon: 6, time: 1000});
            });
        });
    }

    function member_start(obj, id) {
        layer.confirm('确认要启用吗？', function (index) {

            $.post("{:url('Member/changeStatus')}", {id:id, enable:0}, function (res) {
                if(res.code == 1){
                    $(obj).parents("tr").find(".td-manage").prepend('<a onClick="member_stop(this,id)" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i>停用</a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
                    $(obj).remove();
                }
                layer.msg(res.msg, {icon: 6, time: 1000});
            });
        });
    }
</script>
</body>
</html>