{include file='pub/header'/}
<title>会员列表</title>
</head>
<body>
<nav class="breadcrumb"> <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                                       href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">

    <form action="" method="get">
        日期：
        <input type="text" value="{$param.start_time||default=''}" onfocus="WdatePicker({maxDate:'#F{ $dp.$D(datemax)}'})" id="datemin" autocomplete="off"
               name="start_time" class="input-text Wdate" style="width:120px;">-
        <input type="text" value="{$param.end_time||default=''}" onfocus="WdatePicker({minDate:'#F{ $dp.$D(datemin)}'})" id="datemax" autocomplete="off"
               name="end_time" class="input-text Wdate" style="width:120px;">
        <button class="btn btn-success" type="submit">
            <i class="Hui-iconfont">&#xe665;</i>查询
        </button>
    </form>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="9">订单页面统计（点击订单号查看订单详情）</th>
        </tr>
        <tr class="text-c">
            <th>订单编号</th>
            <th>查询次数</th>
            <th>操作时间</th>
        </tr>
        </thead>
        <tbody>
        {if count($list)>0}
        {foreach $list as $v}
        <tr class="text-c">
            <td><a href="javascript:;" onclick="open_detail('{$v.order_id}')">{$v.order_no}</a></td>
            <td>{$v.nums}</td>
            <td>{$v.create_time}</td>
        </tr>
        {/foreach}
        {else/}
        <tr>
            <td colspan="3">暂无查询订单记录</td>
        </tr>
        {/if}
        </tbody>
    </table>
    {$list->render()}
</div>
{include file="pub/footer"/}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    // $("table").dataTable({
    //     "aaSorting": [[4, "desc"]],//默认第几个排序
    // });
    
    function open_detail(order_id) {
        layer_show("订单详情", "{:url('Order/order_detail')}?order_id="+order_id);
    }
</script>
</body>
</html>