{include file='pub/header'/}
<title>订单列表</title>
</head>

<body class="pos-r">
<nav class="breadcrumb">{$breadNav} <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                                       href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">
        <div class="text-c">
            <form action="" method="post">
                查询类型：
                <select name="searchKey" style="width:auto" class="select-box">
                    <option value="">未选择</option>
                    <option value="a.order_no" {if input('searchKey') eq 'a.order_no'}selected{/if}>订单编号</option>
                    <option value="b.user_name" {if input('searchKey') eq 'b.user_name'}selected{/if}>客户姓名</option>
                </select>
                查询条件：
                <input type="text" name="searchValue" {if input('searchKey') neq ''}value="{:input('searchValue')}"{/if} style="width:250px" class="input-text"/>
                订单状态：
                <select name="order_status" style="width: auto;" class="select-box">
                    <option value="">全部</option>
                    {foreach :config("order_status") as $key=>$val}
                    <option value="{$key}">{$val}</option>
                    {/foreach}
                </select>
                订单生成时间：
                <input type="text" onfocus="WdatePicker({maxDate:'#F{ $dp.$D(datemax)}'})" id="datemin"
                       name="start_time" class="input-text Wdate" style="width:120px;">-
                <input type="text" onfocus="WdatePicker({minDate:'#F{ $dp.$D(datemin)}'})" id="datemax"
                       name="end_time" class="input-text Wdate" style="width:120px;">
                <button class="btn btn-success" type="submit">
                    <i class="Hui-iconfont">&#xe665;</i>查询
                </button>
            </form>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            {if !isset($is_show)}
            <!--<span class="l">-->
                <!--<a class="btn btn-primary radius" onclick="downloadOrder()" href="javascript:;">-->
                    <!--<i class="Hui-iconfont">&#xe640;</i> 下载订单-->
                <!--</a>-->
            <!--</span>-->
            {/if}
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                <tr class="text-c">
                    <th width="50">订单编号</th>
                    <th width="60">下单时间</th>
                    <th width="60">下单客户</th>
                    <th width="30">订单状态</th>
                    <th width="30">支付方式</th>
                    <th width="30">商品总金额</th>
                    <th width="30">运费</th>
                    <th width="60">支付总金额</th>
                    <th width="60">发货时间</th>
                    <th width="60">收货时间</th>
                    <th width="100">操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach $list as $item}
                <tr class="text-c va-m">
                    <td>{$item.order_no}</td>
                    <td>{$item.create_time}</td>
                    <td>{$item.user_name}</td>
                    <td>
                        {:config('order_status')[$item.order_status]}
                    </td>
                    <td>{:config('pay_type')[$item.pay_type]}</td>
                    <td>{$item.total_money}</td>
                    <td>{$item.send_fee}</td>
                    <td>
                        {$item.order_money}
                        {if $item.refund_money gt 0}
                        (已退款{$item.refund_money}元)
                        {/if}
                    </td>
                    <td>{$item.send_time}</td>
                    <td>{$item.sure_time}</td>
                    <td class="td-manage">
                        {if $item.order_status eq 1 and $item.is_send eq 0}
                        <a style="text-decoration:none" class="ml-5" onClick="order_send('{$item.order_no}')"
                           href="javascript:;" title="发货">
                            <i class="Hui-iconfont">&#xe623;</i>发货
                        </a>
                        {/if}
                        {if $item.order_status eq 0}
                        <a style="text-decoration:none" class="ml-5" onClick="send_fee_change('{$item.id}')"
                           href="javascript:;" title="运费调整">
                            <i class="Hui-iconfont">&#xe623;</i>运费调整
                        </a>
                        {/if}
                        <a style="text-decoration:none" class="ml-5" onClick="order_detail('{$item.id}')"
                           href="javascript:;" title="订单详情">
                            <i class="Hui-iconfont">&#xe623;</i>订单详情
                        </a>
                        {if $item.is_apply_refund eq 1}
                        <a style="text-decoration:none" class="ml-5" onClick="order_refund('{$item.order_no}')"
                           href="javascript:;" title="退货处理详情">
                            <i class="Hui-iconfont">&#xe623;</i>退货处理详情
                        </a>
                        <a style="text-decoration:none" class="ml-5" onClick="order_refuse('{$item.order_no}', this)"
                           href="javascript:;" title="取消退货">
                            <i class="Hui-iconfont">&#xe623;</i>取消退货
                        </a>
                        {/if}
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>

{include file='pub/footer'/}
<script type="text/javascript">
    $('.table-sort').dataTable({
        "aaSorting": [[1, "desc"]],//默认第几个排序
        "bStateSave": true,//状态保存
        "aoColumnDefs": [
            {"orderable": false, "aTargets": [8]}// 制定列不参与排序
        ],
    });
    
    function order_refuse(order_no, o){
        layer.confirm("确认取消退货?", function () {
            $.post("{:url('Order/order_refuse')}", {order_no:order_no}, function (res) {
                if(res.code == 1){
                    $(o).prev().remove();
                    $(o).remove();
                }
                layer.msg(res.msg);
            });
        });
    }
    //下载订单
    function downloadOrder() {
        layer_show('下载订单', "{:url('Order/downloadOrder')}", '350', '300');
    }


    //订单详情
    function order_detail(order_id) {
        layer_show('订单详情', "{:url('Order/order_detail')}?order_id=" + order_id);

    }

    //订单配送
    function order_send(order_no) {
        layer_show('订单详情', '{:url("orderSend")}?order_no='+order_no);
    }
    //运费调整
    function send_fee_change(order_id){
        layer_show('运费调整', '{:url("sendFeeChange")}?order_id='+order_id);
    }
    //退货处理
    function order_refund(order_no){
        layer_show('退货处理', '{:url("orderRefund")}?order_no='+order_no);
    }

</script>
</body>
</html>